.CWMOuterGameContainer {
    background-color: rgb(59, 41, 196);
    padding: 2.5rem;

    border-top: 0.125rem solid rgb(32, 22, 107);         /* 2px */
    border-left: 0.5rem solid rgb(32, 22, 107);           /* 8px */
    border-right: 0.125rem solid rgb(32, 22, 107);          /* 2px */
    border-bottom: 0.5rem solid rgb(32, 22, 107);           /* 8px */

    border-radius: 1.875rem; /* 30px */

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.875rem; /* 30px */

    box-shadow: 0 0 1.25rem 0.5rem rgb(151, 137, 255);  /* already in rem */
}



.CWMGameBoardScreen {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;        /* 50px / 16 */

    align-items: center;
}



.CWMButton {
    font-size: 1.5625rem;       /* 25px / 16 */
    padding: 0.9375rem;         /* 15px / 16 */

    background-color: rgb(165, 211, 255);

    border-left: 0.35rem solid rgb(87, 113, 136);   /* 6px / 16 */
    border-bottom: 0.35rem solid rgb(87, 113, 136); /* 6px / 16 */
    border-top: 0.125rem solid rgb(87, 113, 136);    /* 2px / 16 */
    border-right: 0.125rem solid rgb(87, 113, 136);  /* 2px / 16 */

    border-radius: 0.9375rem;
}



.CWMButton:hover {
    color: white;

    background-color: rgb(6, 89, 255);

    border-left: 0.35rem solid rgb(0, 36, 109);   /* 6px / 16 */
    border-bottom: 0.35rem solid rgb(0, 36, 109); /* 6px / 16 */
    border-top: 0.125rem solid rgb(0, 36, 109);    /* 2px / 16 */
    border-right: 0.125rem solid rgb(0, 36, 109);  /* 2px / 16 */
}
