.ORBGameBoardScreen{

    border-top: 2px solid rgb(75, 101, 120);
    border-left: 5px solid rgb(75, 101, 120);
    border-right: 2px solid rgb(75, 101, 120);
    border-bottom: 5px solid rgb(75, 101, 120);

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr); 

    background-color: rgb(161, 216, 255);
    box-shadow: 0 0 1rem 0.75rem rgb(161, 216, 255);

    gap: 8px;


}

.ORBGameBoardEmptySpace{

    height: 30px;
    width: 30px;

    background-color: rgb(161, 216, 255);

}

.ORBGameBoardCircle {

    height: 30px;
    width: 30px;

    background-color: rgb(135, 135, 0);

}


.ORBGameBoardWinningCircle {

    height: 30px;
    width: 30px;

    background-color: rgb(0, 255, 42);
    box-shadow: 0 0 0.5rem 0.25rem rgb(96, 255, 157);

}


.ORBGameBoardCurrentSlot {


    height: 30px;
    width: 30px;

    background-color: rgb(246, 255, 0);

    box-shadow: 0 0 0.5rem 0.25rem rgb(200, 255, 0);

}




