.SPIouterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;                  /* 50px */

    background-color: rgb(13, 0, 255);

    border-left: 0.5625rem solid rgb(6, 0, 117);    /* 9px */
    border-bottom: 0.5625rem solid rgb(6, 0, 117);   /* 9px */
    border-top: 0.25rem solid rgb(6, 0, 117);       /* 4px */
    border-right: 0.25rem solid rgb(6, 0, 117);      /* 4px */
    border-radius: 1.5625rem;               /* 25px */
    padding: 1.875rem;                      /* 30px */

    box-shadow: 0 0 1.875rem 0.625rem rgb(0, 157, 255); /* 30px 10px */
}


.SPIouterContainerM4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;                  /* 50px */

    background-color: rgb(13, 0, 255);

    border-left: 0.5625rem solid rgb(6, 0, 117);    /* 9px */
    border-bottom: 0.5625rem solid rgb(6, 0, 117);  /* 9px */
    border-top: 0.25rem solid rgb(6, 0, 117);       /* 4px */
    border-right: 0.25rem solid rgb(6, 0, 117);     /* 4px */
    border-radius: 1.5625rem;                        /* 25px */
    padding: 1.875rem;                               /* 30px */

    box-shadow: 0 0 1.875rem 0.625rem rgb(0, 157, 255); /* 30px 10px */
}


.SPIgameBoardSign {
    font-size: 2.1875rem;           /* 35px */
    border-radius: 1.875rem;        /* 30px */
    padding: 0.625rem;              /* 10px */
    color: white;
    background-color: rgb(133, 147, 251);
    border: 0.3125rem solid rgba(0, 253, 46, 0.521); /* 5px */

    animation: sign-glitch 3s infinite, glowing-sign-shadows 4s infinite;
}


.SPIendingScreen {
    height: 28.125rem;              /* 450px */
    width: 50.625rem;               /* 810px */
    background-color: rgb(145, 215, 253);

    padding: 5rem;                  /* 80px */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-left: 0.1875rem solid rgb(58, 93, 111);   /* 3px */
    border-bottom: 0.1875rem solid rgb(58, 93, 111); /* 3px */
    border-top: 0.1875rem solid rgb(58, 93, 111);    /* 3px */
    border-right: 0.1875rem solid rgb(58, 93, 111);  /* 3px */

    box-shadow: 0 0 1.25rem 0.625rem rgb(131, 208, 252); /* 20px 10px */
}
