.SPIgameContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.SPIgameScreen {

    height: 450px;
    width: 810px;

    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(15, 1fr);

    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;

    box-shadow: 0 0 20px 10px rgb(117, 138, 255);

}






.SPIemptySpaceM1{

    background-color: #1d0086;
    height: 30px;
    width: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.SPIemptySpaceM2{

    background-color: #180070;
    height: 30px;
    width: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.SPIemptySpaceM3{

    background-color: #13005a;
    height: 30px;
    width: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}








.SPISlider{

    -webkit-appearance: none;
    width: 810px;
    height: 30px;
    outline: none;
    
    background-color: rgb(0, 255, 132);

    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

    box-shadow: 0 0 10px 4px rgb(169, 255, 202);

}

.SPISlider::-webkit-slider-thumb {

    -webkit-appearance: none;
    width: 30px;
    height: 50px;
    background-color: #ff00ea;
    cursor: pointer;

    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

}
  
/* for Firefox */
.SPISlider::-moz-range-thumb {

    width: 30px;
    height: 50px;
    background-color: #ff00ea;
    cursor: pointer;

    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

}







.SPIlaserButtonNormal{

    background-color: #00ff26;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;

    border-left: 5px solid black;
    border-bottom: 5px solid black;

}

.SPIlaserButtonMutant{

    background-color: #a200ff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;

    border-left: 5px solid black;
    border-bottom: 5px solid black;

}