.SPIgameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem; /* 30px */
}


.SPIgameScreenM1 {
    height: 28.5rem;                 /* 456px */
    width: 51rem;                    /* 816px */

    padding: 0rem;

    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(15, 1fr);

    background-color: #1d0086;

    border-left: 0.1875rem solid rgb(19, 13, 82);   /* 3px */
    border-bottom: 0.1875rem solid rgb(19, 13, 82);  /* 3px */
    border-top: 0.1875rem solid rgb(19, 13, 82);     /* 3px */
    border-right: 0.1875rem solid rgb(19, 13, 82);  /* 3px */

    box-shadow: 0 0 1.25rem 0.625rem rgb(117, 138, 255); /* 20px 10px */
}


.SPIgameScreenM2 {
    height: 28.5rem;                 /* 456px */
    width: 51rem;                    /* 816px */

    padding: 0rem;

    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(15, 1fr);

    background-color: #180070;

    border-left: 0.1875rem solid rgb(19, 13, 82);   /* 3px */
    border-bottom: 0.1875rem solid rgb(19, 13, 82);  /* 3px */
    border-top: 0.1875rem solid rgb(19, 13, 82);     /* 3px */
    border-right: 0.1875rem solid rgb(19, 13, 82);  /* 3px */

    box-shadow: 0 0 1.25rem 0.625rem rgb(117, 138, 255); /* 20px 10px */
}


.SPIgameScreenM3 {
    height: 28.5rem;                 /* 456px */
    width: 51rem;                    /* 816px */

    padding: 0rem;

    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(15, 1fr);

    background-color: #13005a;

    border-left: 0.1875rem solid rgb(19, 13, 82);   /* 3px */
    border-bottom: 0.1875rem solid rgb(19, 13, 82);  /* 3px */
    border-top: 0.1875rem solid rgb(19, 13, 82);     /* 3px */
    border-right: 0.1875rem solid rgb(19, 13, 82);  /* 3px */

    box-shadow: 0 0 1.25rem 0.625rem rgb(117, 138, 255); /* 20px 10px */
}







.SPIemptySpaceM1 {
    background-color: #1d0086;
    height: 1.875rem;  /* 30px */
    width: 1.875rem;   /* 30px */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.SPIemptySpaceM2 {
    background-color: #180070;
    height: 1.875rem;  /* 30px */
    width: 1.875rem;   /* 30px */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.SPIemptySpaceM3 {
    background-color: #13005a;
    height: 1.875rem;  /* 30px */
    width: 1.875rem;   /* 30px */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}









.SPISlider {
    -webkit-appearance: none;
    width: 50.625rem;               /* 810px */
    height: 1.875rem;               /* 30px */
    outline: none;

    background-color: rgb(0, 255, 132);

    border-left: 0.3125rem solid rgb(0, 120, 62); /* 5px */
    border-bottom: 0.3125rem solid rgb(0, 120, 62); /* 5px */
    border-top: 0.125rem solid rgb(0, 120, 62);    /* 2px */
    border-right: 0.125rem solid rgb(0, 120, 62);   /* 2px */

    box-shadow: 0 0 0.625rem 0.25rem rgb(169, 255, 202); /* 10px 4px */
}


.SPISlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.875rem;                /* 30px */
    height: 3.125rem;               /* 50px */
    background-color: #ff00ea;
    cursor: pointer;

    border-left: 0.3125rem solid #7a0070;   /* 5px */
    border-bottom: 0.3125rem solid #7a0070;  /* 5px */
    border-top: 0.125rem solid #7a0070;     /* 2px */
    border-right: 0.125rem solid #7a0070;   /* 2px */
}

  
/* for Firefox */
.SPISlider::-moz-range-thumb {
    width: 1.875rem;                /* 30px */
    height: 3.125rem;               /* 50px */
    background-color: #ff00ea;
    cursor: pointer;

    border-left: 0.3125rem solid #7a0070;    /* 5px */
    border-bottom: 0.3125rem solid #7a0070;  /* 5px */
    border-top: 0.125rem solid #7a0070;      /* 2px */
    border-right: 0.125rem solid #7a0070;    /* 2px */
}








.SPIlaserButtonNormal {
    background-color: #00ff26;
    font-size: 1.25rem;          /* 20px */
    padding: 0.625rem;           /* 10px */

    border-left: 0.3125rem solid #00660f;  /* 5px */
    border-bottom: 0.3125rem solid #00660f; /* 5px */
    border-top: 0.125rem solid #00660f;  /* 5px */
    border-right: 0.125rem solid #00660f; /* 5px */

    box-shadow: 0 0 0.625rem 0.25rem #00ff26; /* 10px 4px */

}


.SPIlaserButtonNormal:hover {
    background-color: #003508;

    border-left: 0.3125rem solid #000d02;    /* 5px */
    border-bottom: 0.3125rem solid #000d02;  /* 5px */
    border-right: 0.125rem solid #000d02;    /* 2px */
    border-top: 0.125rem solid #000d02;      /* 2px */

    box-shadow: 0 0 0.625rem 0.25rem #00a118; /* 10px 4px */
    
    color: white;

}


.SPIlaserButtonMutant {
    background-color: #fb00ff;
    font-size: 1.25rem;              /* 20px */
    padding: 0.625rem;               /* 10px */

    border-left: 0.3125rem solid #640065;    /* 5px */
    border-bottom: 0.3125rem solid #640065;  /* 5px */
    border-top: 0.125rem solid #640065;     /* 5px */
    border-right: 0.125rem solid #640065;   /* 5px */

    box-shadow: 0 0 0.625rem 0.25rem #fb00ff; /* 10px 4px */

}


.SPIlaserButtonMutant:hover {
    background-color: #650066;

    border-left: 0.3125rem solid #330034;    /* 5px */
    border-bottom: 0.3125rem solid #330034;  /* 5px */
    border-top: 0.125rem solid #330034;     /* 5px */
    border-right: 0.125rem solid #330034;   /* 5px */

    box-shadow: 0 0 0.625rem 0.25rem #a900ac; /* 10px 4px */

    color: white;
}
