.SPIResultsBoard {
    background-color: rgb(234, 88, 247);
    height: 18.75rem;               /* 300px */
    width: 40.625rem;               /* 650px */

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border-radius: 0.9375rem;       /* 15px */
    border-left: 0.5rem solid rgb(120, 0, 131);   /* 8px */
    border-bottom: 0.5rem solid rgb(120, 0, 131); /* 8px */
    border-top: 0.125rem solid rgb(120, 0, 131);  /* 2px */
    border-right: 0.125rem solid rgb(120, 0, 131);/* 2px */

    box-shadow: 0 0 1.5625rem 0.625rem rgb(255, 139, 245); /* 25px 10px */

    font-size: 1.25rem;             /* 20px */
    gap: 1.25rem;                   /* 20px */

    color: rgb(152, 251, 139);
}


.SPIWordsGlitch{

    animation: sign-glitch 3s infinite;

}