.TTTscoreboard{

    width: 400px;
    background-color: rgb(0, 191, 255);
    background-color: rgb(238, 0, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    border-left: 8px solid black;
    border-bottom: 8px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;

    font-size: 20px;
    color: rgba(0, 255, 110, 0.629);

    animation: glowing-shadow3 4s infinite;

}


.TTTbuttonsContainer{

    display: flex;
    flex-direction: row;
    gap: 50px;

}

.TTTResultsSignGlitch{

    animation: button-glitch 3s infinite;

}