.TTTscoreboard {
    background-color: rgb(241, 81, 252);
    padding: 3.125rem; /* 50px */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem; /* 30px */

    border-left: 0.5rem solid rgb(104, 0, 111);   /* 8px */
    border-bottom: 0.5rem solid rgb(104, 0, 111);  /* 8px */
    border-top: 0.0625rem solid rgb(104, 0, 111);  /* 1px */
    border-right: 0.0625rem solid rgb(104, 0, 111);  /* 1px */
    border-radius: 0.9375rem; /* 15px */

    font-size: 1.25rem; /* 20px */
    color: rgba(0, 255, 110, 0.629);

    animation: glowing-shadow3 4s infinite;
}


.TTTResultsSignGlitch{

    animation: button-glitch 3s infinite;

}