.SNKresultsSign{

    padding: 80px;
    background-color: rgb(255, 0, 242);

    border-left: 8px solid black;
    border-bottom: 8px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

    border-radius: 8px;

    animation: glowing-shadow3 4s infinite;

}

.SNKresultsFont{

    color:rgb(93, 255, 98);
    font-size: 40px;
    animation: sign-glitch 3s infinite;

}