.RPSdirections {
  font-size: 1.5625rem;  
  color: rgb(255, 255, 255);
}

.RPStextbox {
  font-size: 1.25rem;           
  border-radius: 0.1875rem;      
  padding: 0.3125rem;        
  border-left: 0.3125rem solid black; 
  border-bottom: 0.3125rem solid black; 

  animation: glowing-shadow2 4s infinite;
}

.RPSenterButton {
  font-size: 1.5625rem;            
  padding: 0.625rem;             
  background-color: rgb(251, 80, 234);
  border-left: 0.34375rem solid rgb(103, 31, 95);  
  border-bottom: 0.34375rem solid rgb(103, 31, 95); 
  border-top: 0.125rem solid rgb(103, 31, 95);  
  border-right: 0.125rem solid rgb(103, 31, 95);

  animation: glowing-shadow5 4s infinite;

}


.RPSenterButton:hover {

  background-color: rgb(118, 35, 111);

  border-left: 0.34375rem solid rgb(48, 14, 44);  
  border-bottom: 0.34375rem solid rgb(48, 14, 44);  
  border-top: 0.125rem solid rgb(48, 14, 44);  
  border-right: 0.125rem solid rgb(48, 14, 44); 

  color: white;
    
  animation: glowing-shadow3 4s infinite;

}

