.RPSdirections {
  font-size: 1.5625rem;  /* 25px */
  color: rgb(255, 255, 255);
}

.RPStextbox {
  font-size: 1.25rem;              /* 20px */
  border-radius: 0.1875rem;        /* 3px */
  padding: 0.3125rem;              /* 5px */
  border-left: 0.3125rem solid black;   /* 5px */
  border-bottom: 0.3125rem solid black; /* 5px */

  animation: glowing-shadow2 4s infinite;
}

.RPSenterButton {
  font-size: 1.5625rem;              /* 25px */
  padding: 0.625rem;                 /* 10px */
  background-color: rgb(251, 80, 234);
  border-left: 0.34375rem solid rgb(103, 31, 95);   /* 5.5px */
  border-bottom: 0.34375rem solid rgb(103, 31, 95); /* 5.5px */
  border-top: 0.125rem solid rgb(103, 31, 95);   /* 5.5px */
  border-right: 0.125rem solid rgb(103, 31, 95); /* 5.5px */

  animation: glowing-shadow5 4s infinite;

}


.RPSenterButton:hover {

  background-color: rgb(118, 35, 111);

  border-left: 0.34375rem solid rgb(48, 14, 44);   /* 5.5px */
  border-bottom: 0.34375rem solid rgb(48, 14, 44);  /* 5.5px */
  border-top: 0.125rem solid rgb(48, 14, 44);  /* 5.5px */
  border-right: 0.125rem solid rgb(48, 14, 44); /* 5.5px */


  color: white;
    
  animation: glowing-shadow3 4s infinite;

}

