.CHCGameBoardScreen {

  display: grid;
  grid-template-rows: repeat(5, calc(100% / 5));
  grid-template-columns: repeat(10, calc(100% / 10));

  border: 0.3rem solid rgb(0, 31, 80);    

  box-shadow: 0 0 1rem 0.75rem rgb(208, 161, 255);

  background-color: rgb(0, 203, 0);

  box-sizing: border-box;

}


.CHCGameBoardCar{

  height: 5rem;
  width: 5.5rem;

  background-color: rgb(90, 45, 0);

}

.CHCGameBoardStreet{

  height: 5rem;
  width: 5.5rem;

  background-color: rgb(194, 194, 194);

}

.CHCGameBoardGrass{

  height: 5rem;
  width: 5.5rem;

}


.CHCGameBoardPlayer{

  height: 5rem;
  width: 5.5rem;

  background-color: rgb(252, 0, 0);

}
