.CHCGameBoardScreen {

  display: grid;
  grid-template-rows: repeat(5, calc(100% / 5));
  grid-template-columns: repeat(10, calc(100% / 10));

  border: 0.3rem solid rgb(0, 31, 80);    

  box-shadow: 0 0 1rem 0.75rem rgb(161, 211, 255);

  box-sizing: border-box;

}


.CHCGameBoardStreet{

  height: 5rem;
  width: 5.5rem;

  background-image: url("./../../../Images/image 36.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.CHCGameBoardGrass{

  height: 5rem;
  width: 5.5rem;

  background-image: url("./../../../Images/image 37.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
