.SPIgameContainerM4 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.SPIgameScreenM4 {

    height: 520px;
    width: 1020px;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);

    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;

    box-shadow: 0 0 20px 10px rgb(117, 138, 255);
    background-color: #0e0040;

    cursor: url('cursor.cur'), auto;

    gap: 10px;
    padding: 20px;

}


.SPIemptySpaceM4{
    
    background-color: #0e0040;
    height: 90px;
    width: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.SPIemptySpaceBossNormal{

    background-color:rgb(255, 255, 255);
    height: 90px;
    width: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 10px 10px rgb(255, 255, 255);
    border-radius: 50px;

}

.SPIemptySpaceBossDanger{

    background-color: #54ff4b;
    height: 90px;
    width: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 10px 10px #54ff4b;
    border-radius: 50px;

}


.SPIhealthbarContainer{

    display: grid;
    grid-template-columns: repeat(50, 1fr);
    height: 40px;
    width: 800px;

    box-shadow: 0 0 20px 10px rgb(195, 117, 255);

}

.SPIhealthLeft{

    background-color: #ff0000;
    height: 100%;

}

.SPIhealthGone{

    background-color: #00c8ff;
    height: 100%;

}