.ORBOuterGameContainer {

    background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(0, 64, 132));
    padding: 3rem; 

    border-top: 0.125rem solid rgb(0, 76, 123);    
    border-left: 0.5rem solid rgb(0, 76, 123);     
    border-right: 0.125rem solid rgb(0, 76, 123);  
    border-bottom: 0.5rem solid rgb(0, 76, 123);    

    border-radius: 1.875rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.875rem; 

    box-shadow: 0 0 1.25rem 0.5rem rgb(98, 195, 255); 
}


.ORBGameBoardLightContainer {
    display: flex;
    flex-direction: row;
    gap: 0.625rem; 
}


.ORBGameBoardLightGo {
    background-color: rgb(0, 255, 13);
    height: 3.125rem; 
    width: 3.125rem;  

    border-radius: 50%;
    border: 0.3125rem solid rgb(2, 177, 2); 

    animation: green-glow 0.5s infinite;
}



.ORBGameBoardLightStop {
    background-color: rgb(0, 141, 2);
    height: 3.125rem; 
    width: 3.125rem;   

    border-radius: 50%;
    border: 0.3125rem solid rgb(0, 74, 1); 
}



.ORBHitButton {
    font-size: 1.875rem;     
    padding: 0.8rem 1.8rem;     

    background-color: rgb(220, 0, 0);

    border-top: 0.125rem solid rgb(143, 0, 0);     
    border-right: 0.125rem solid rgb(143, 0, 0);   
    border-left: 0.375rem solid rgb(143, 0, 0);    
    border-bottom: 0.375rem solid rgb(143, 0, 0);  

    color: white;

    border-radius: 0.625rem;  

    animation: red-glow 4s infinite;
}



.ORBHitButton:hover,
.ORBHitButton.active{
    background-color: rgb(127, 0, 0);

    border-top: 0.125rem solid rgb(42, 0, 0);     
    border-right: 0.125rem solid rgb(42, 0, 0);    
    border-left: 0.375rem solid rgb(42, 0, 0);    
    border-bottom: 0.375rem solid rgb(42, 0, 0);   

    animation: glowing-shadow7 4s infinite;
}



.ORBDoneButton {
    font-size: 1.875rem;     

    background-color: rgb(102, 255, 237);
         
    padding: 0.8rem 1.8rem;       
    border-left: 0.375rem solid rgb(43, 117, 108);   
    border-bottom: 0.375rem solid rgb(43, 117, 108); 
    border-right: 0.125rem solid rgb(43, 117, 108);  
    border-top: 0.125rem solid rgb(43, 117, 108); 

    animation: glowing-shadow2 3s infinite, button-glitch 4s infinite;
}


.ORBDoneButton:hover,
.ORBDoneButton.active {

  background-color: rgb(0, 132, 142); 

  border-left: 0.375rem solid rgb(0, 71, 76);   
  border-bottom: 0.375rem solid rgb(0, 71, 76); 
  border-top: 0.125rem solid rgb(0, 71, 76); 
  border-right: 0.125rem solid rgb(0, 71, 76); 

  color: white;
    
  animation: glowing-shadow8 3s infinite, button-glitch 3s infinite;
}

