.ORBResultsBoard {

    background-color: rgb(198, 100, 255);
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 8px solid rgb(113, 56, 146);
    border-bottom: 8px solid rgb(113, 56, 146);
    border-top: 4px solid rgb(113, 56, 146);
    border-right: 4px solid rgb(113, 56, 146);

    border-radius: 20px;

    box-shadow: 0 0 1.25rem 0.5rem rgb(170, 0, 255);

    animation:  glowing-shadow3 4s infinite;


}

.ORBResultsWords{

    color: white;
    font-size: 40px;

    animation: sign-glitch 4s infinite;

}