.SMZGameBoardScreen {

  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(10, 1fr); 

  border-top: 0.3rem solid rgb(0, 31, 80);    
  border-left: 0.3rem solid rgb(0, 31, 80);   
  border-right: 0.3rem solid rgb(0, 31, 80);  
  border-bottom: 0.3rem solid rgb(0, 31, 80); 

  box-shadow: 0 0 1rem 0.75rem rgb(208, 161, 255);

  background-image: 
    url("../../../Images/ArcadeGameBackgroundImages/SMZ.svg"),
    linear-gradient(to bottom, rgb(137, 108, 254), rgb(255, 207, 102));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.SMZStartFlag{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-weight: bold;

  position: absolute;
  z-index: 1;

  height: 100%;
  width: 100%;

  background-color: rgba(84, 115, 255, 0.5);

}


.SMZGameBoardEmptySpace {

  height: 2.2rem;
  width: 3rem;

  /*background-color: rgb(137, 182, 255);*/
  
}


.SMZGameBoardWall{

  height: 2.2rem;
  width: 3rem;

  background-color: rgb(90, 45, 0);

}
