.CWMSpaceOuterGameContainer {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5rem;
    border-radius: 1.875rem; 
    gap: 1.875rem; 

    background: linear-gradient(to bottom, rgb(122, 0, 192),rgb(59, 0, 93));
    border-top: 0.125rem solid rgb(46, 0, 72);       
    border-left: 0.5rem solid rgb(46, 0, 72);       
    border-right: 0.125rem solid rgb(46, 0, 72);      
    border-bottom: 0.5rem solid rgb(46, 0, 72);       

    box-shadow: 0 0 1.25rem 0.5rem rgb(194, 137, 255); 
}


.CWMSpaceButton {
    font-size: 1.5625rem;      
    padding: 1rem 2rem;   

    background-color: rgb(249, 163, 255);

    border-left: 0.35rem solid rgb(152, 0, 163);  
    border-bottom: 0.35rem solid rgb(152, 0, 163); 
    border-top: 0.125rem solid rgb(152, 0, 163);   
    border-right: 0.125rem solid rgb(152, 0, 163);  

    border-radius: 0.9375rem;

    animation: glowing-shadow3 4s infinite, button-glitch 3s infinite;

}



.CWMSpaceButton:hover,
.CWMSpaceButton.active {
    color: white;

    background-color: rgb(130, 0, 137);

    border-left: 0.35rem solid rgb(74, 0, 78);   
    border-bottom: 0.35rem solid rgb(74, 0, 78); 
    border-top: 0.125rem solid rgb(74, 0, 78);   
    border-right: 0.125rem solid rgb(74, 0, 78); 

    animation: glowing-shadow7 4s infinite, button-glitch 3s infinite;

}


.CWMSpaceButtonGrabbed {
    font-size: 1.5625rem;      
    padding: 1rem 2rem;     
    border-radius: 0.9375rem;

    color: white;

    background-color: rgb(130, 0, 137);

    border-left: 0.35rem solid rgb(74, 0, 78);   
    border-bottom: 0.35rem solid rgb(74, 0, 78); 
    border-top: 0.125rem solid rgb(74, 0, 78);   
    border-right: 0.125rem solid rgb(74, 0, 78); 

    animation: glowing-shadow7 4s infinite, button-glitch 3s infinite;

}
