.SNKsnakeLink {
    height: 1.25rem;      
    width: 1.25rem;     
    background-color: rgb(7, 54, 0); 
    background-color: rgb(2, 18, 0); 
    border: 0.125rem solid rgb(2, 15, 0); 

    box-shadow: 0 0 1rem 0.15rem rgb(130, 255, 88);

}

.SNKApple {
    height: 1.25rem;      
    width: 1.25rem;      
    background-color: rgb(255, 0, 0);
    border: 0.125rem solid rgb(120, 0, 0); 

    animation: red-glow 4s infinite;
}

.SNKemptySpace {
    height: 1.25rem;       
    width: 1.25rem;       
}

.SNKrenderedgameboard {
    height: 25rem;        
    width: 37.5rem;  

    display: grid;
    grid-template-columns: repeat(30, calc(100% / 30));
    grid-template-rows: repeat(20, calc(100% / 20));

    background-image: url("../../../Images/ArcadeGameBackgroundImages/SNK.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;

    border: 0.3rem solid rgb(46, 99, 0);        

    box-shadow: 0 0 1rem 0.60rem rgb(130, 255, 88);

    box-sizing: border-box;

}