.SNKsnakeLink {
    height: 1.25rem;      
    width: 1.25rem;     
    background-color: rgb(7, 54, 0); 
    border: 0.125rem solid rgb(2, 15, 0); 
}

.SNKApple {
    height: 1.25rem;      
    width: 1.25rem;      
    background-color: rgb(255, 0, 0);
    border: 0.125rem solid rgb(120, 0, 0); 

    animation: red-glow 4s infinite;
}

.SNKemptySpace {
    height: 1.25rem;       
    width: 1.25rem;       
}

.SNKrenderedgameboard {
    height: 25rem;        
    width: 37.5rem;       
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);

    background-image: url("../../../Images/ArcadeGameBackgroundImages/SNK.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}