.SPIgameScreenM4 {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(5, calc(100% / 5));

    border: 0.5rem solid black;   
    box-shadow: 0 0 1.25rem 0.625rem rgb(117, 138, 255); 
    box-sizing: border-box;
    background: linear-gradient(to bottom, #160064, rgb(0, 0, 0));

    cursor: url('cursor.cur'), auto;

}


.SPIemptySpaceM4 {

    height: 6rem; 
    width: 6rem;  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.SPIemptySpaceBossNormal {
    background-color: rgb(255, 255, 255);
    height: 6rem; 
    width: 6rem;  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    box-shadow: 0 0 0.625rem 0.625rem rgb(255, 255, 255); 
    border-radius: 3.125rem; 
}


.SPIemptySpaceBossDanger {
    background-color: #54ff4b;
    height: 6rem; 
    width: 6rem;  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0.625rem 0.625rem #54ff4b; 
    border-radius: 3.125rem;
}


.SPIhealthbarContainer {
    display: grid;
    grid-template-columns: repeat(50, calc(100% / 50));
    height: 2rem;  
    width: 50rem;  

    box-sizing: border-box;

    box-shadow: 0 0 1.25rem 0.625rem rgb(195, 117, 255); 
}


.SPIhealthLeft{

    background-color: #ff0000;
    height: 100%;

}

.SPIhealthGone{

    background-color: #00c8ff;
    height: 100%;

}