.SPIgameContainerM4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem; 
}


.SPIgameScreenM4 {

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);

    border-left: 0.3rem solid black;   
    border-bottom: 0.3rem solid black; 
    border-top: 0.3rem solid black;   
    border-right: 0.3rem solid black; 

    box-shadow: 0 0 1.25rem 0.625rem rgb(117, 138, 255); 

    background: linear-gradient(to bottom, #160064, rgb(0, 0, 0));

    cursor: url('cursor.cur'), auto;

    gap: 1.5rem;               
    padding: 1.25rem;        
}


.SPIemptySpaceM4 {

    height: 5.2rem; 
    width: 5.2rem;  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.SPIemptySpaceBossNormal {
    background-color: rgb(255, 255, 255);
    height: 5.2rem; 
    width: 5.2rem;  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    box-shadow: 0 0 0.625rem 0.625rem rgb(255, 255, 255); 
    border-radius: 3.125rem; 
}


.SPIemptySpaceBossDanger {
    background-color: #54ff4b;
    height: 5.2rem; 
    width: 5.2rem;  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0.625rem 0.625rem #54ff4b; 
    border-radius: 3.125rem;
}


.SPIhealthbarContainer {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    height: 2rem;  
    width: 50rem;  

    box-shadow: 0 0 1.25rem 0.625rem rgb(195, 117, 255); 
}


.SPIhealthLeft{

    background-color: #ff0000;
    height: 100%;

}

.SPIhealthGone{

    background-color: #00c8ff;
    height: 100%;

}