.CWMBar{

    display: grid;
    grid-template-columns: repeat(31, 1fr);

    border: 0.2rem solid rgb(255, 255, 255);

    box-shadow: 0 0 0.5rem 0.15rem rgb(255, 255, 255);
    background-color: rgb(146, 213, 255);

    animation: glowing-shadow2 2s infinite;

}

.CWMBarCurrent{

    position: relative;
    z-index: 2;

    height: 25px;
    width: 25px;

    filter: 
        drop-shadow(0 0 0.3125rem rgba(47, 255, 0, 0.8))  /* 5px */
        drop-shadow(0 0 0.625rem rgba(47, 255, 0, 0.6))   /* 10px */
        drop-shadow(0 0 1.25rem rgba(47, 255, 0, 0.4));   /* 20px */

}

.CWMBarNotAccurate {

    height: 35px;
    width: 25px;

    background-color: rgb(130, 207, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.CWMBarInRange {

    height: 35px;
    width: 25px;

    background-color: rgba(238, 255, 0, 0.799);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.CWMBarClose {

    height: 35px;
    width: 25px;

    background-color: rgba(254, 169, 0, 0.799);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.CWMBarVeryClose {

    height: 35px;
    width: 25px;

    background-color: rgba(255, 0, 0, 0.766);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}