.CWMGameBoardScreen {

    display: flex;
    flex-direction: column;
    gap: 50px;

    align-items: center;

   
}

.CWMBar{

    display: grid;
    grid-template-columns: repeat(31, 1fr);

    border: 0.3rem solid rgb(151, 255, 107);

    box-shadow: 0 0 1rem 0.5rem rgb(151, 255, 107);

}

.CWMBarCurrent{

    height: 50px;
    width: 30px;

    background-color: rgb(45, 255, 37);

}

.CWMBarNotAccurate {

    height: 50px;
    width: 30px;

    background-color: rgb(215, 242, 250);

}

.CWMBarInRange {

    height: 50px;
    width: 30px;

    background-color: rgb(243, 255, 78);

}


.CWMBarClose {

    height: 50px;
    width: 30px;

    background-color: rgb(255, 195, 74);

}


.CWMBarVeryClose {

    height: 50px;
    width: 30px;

    background-color: rgb(255, 68, 68);

}



.CWMWindow{

    display: flex;
    flex-direction: row;
    gap: 30px;

    width: 100%;
    height: 50px;

    background-color: aliceblue;

}


.CWMButton{

    font-size: 25px;
    padding: 10px;

    

}