.BFRGameBoardScreen {
    border-top: 0.125rem solid rgb(0, 31, 80);     /* 2px */
    border-left: 0.3125rem solid rgb(0, 31, 80);    /* 5px */
    border-right: 0.125rem solid rgb(0, 31, 80);    /* 2px */
    border-bottom: 0.3125rem solid rgb(0, 31, 80);  /* 5px */

    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(10, 1fr); 

    background-color: rgb(161, 197, 255);
    box-shadow: 0 0 1rem 0.75rem rgb(161, 197, 255);  /* already in rem */

}


.BFRGameBoardEmptySpace {
    height: 2.5rem;  /* 25px */
    width: 2.5rem;   /* 25px */

    background-color: rgb(161, 197, 255);
}

.BFRLaserColumn {
    height: 2.5rem;  /* 25px */
    width: 2.5rem;   /* 25px */

    background-color: rgb(0, 255, 42);
}

.BFRLaserField{

    height: 2.5rem;  /* 25px */
    width: 2.5rem;   /* 25px */

    background-color: rgba(255, 17, 0, 0.485);

}




