.BFRGameBoardScreen {
    border-top: 0.125rem solid rgb(0, 31, 80);     /* 2px */
    border-left: 0.3125rem solid rgb(0, 31, 80);    /* 5px */
    border-right: 0.125rem solid rgb(0, 31, 80);    /* 2px */
    border-bottom: 0.3125rem solid rgb(0, 31, 80);  /* 5px */

    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(10, 1fr); 

    background-color: rgb(161, 197, 255);
    box-shadow: 0 0 1rem 0.75rem rgb(161, 197, 255);

}


.BFRGameBoardEmptySpace {
    height: 2.5rem;
    width: 2.5rem;

    background-color: rgb(161, 197, 255);
}

.BFRFieldUnactivated{

    height: 2.5rem;
    width: 2.5rem;

    background-color: rgba(0, 255, 72, 0.4);

}

.BFRFieldActivated{

    height: 2.5rem;
    width: 2.5rem;

    background-color: rgb(34, 255, 0);

}




