.BFRGameBoardScreen {

    display: grid;
    grid-template-columns: repeat(17, calc(100% / 17));
    grid-template-rows: repeat(10, calc(100% / 10));

    border: 0.3rem solid rgb(0, 31, 80);    

    box-shadow: 0 0 1rem 0.75rem rgb(103, 199, 255);

    background-image: 
        url("../../../Images/ArcadeGameBackgroundImages/BFR.svg"),
        linear-gradient(to bottom, rgb(113, 88, 255), rgb(148, 212, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-sizing: border-box;

}


.BFRGameBoardEmptySpace {
    height: 2.5rem;
    width: 2.5rem;
}

.BFRFieldUnactivated{

    height: 2.5rem;
    width: 2.5rem;

    background-color: rgba(0, 255, 72, 0.4);

}

.BFRFieldActivated{

    height: 2.5rem;
    width: 2.5rem;

    background-color: rgb(34, 255, 0);

}




