.BFROuterGameContainer {

    background-color: rgb(72, 0, 255);
    padding: 3rem;

    border-top: 0.125rem solid rgb(28, 0, 98);     
    border-left: 0.5rem solid rgb(28, 0, 98);    
    border-right: 0.125rem solid rgb(28, 0, 98); 
    border-bottom: 0.5rem solid rgb(28, 0, 98);  

    border-radius: 1.875rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3.5rem;

    box-shadow: 0 0 1.25rem 0.5rem rgb(101, 41, 255);

}

.BFRsign{

    font-size: 2rem;
    border-radius: 1.875rem; 
    padding: 0.8rem;   
    color: white;
    background-color: rgb(136, 188, 251);
    border: 0.3125rem solid rgba(0, 253, 46, 0.521);

    animation: glowing-sign-shadows 4s infinite;

}

.BFREndingScreen {

    height: 21.875rem;
    width: 40.625rem;

    font-size: 1.8rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 0.125rem solid rgb(0, 31, 80);    
    border-left: 0.3125rem solid rgb(0, 31, 80);    
    border-right: 0.125rem solid rgb(0, 31, 80);   
    border-bottom: 0.3125rem solid rgb(0, 31, 80); 

    background-color: rgb(161, 197, 255);
    box-shadow: 0 0 1rem 0.75rem rgb(161, 216, 255);

}


.BFRActivateButton {

    font-size: 1.875rem;
    padding: 0.625rem;

    background-color: rgb(94, 255, 0);

    border-top: 0.125rem solid rgb(36, 98, 0);      
    border-right: 0.125rem solid rgb(36, 98, 0);       
    border-left: 0.375rem solid rgb(36, 98, 0);     
    border-bottom: 0.375rem solid rgb(36, 98, 0);   

    border-radius: 0.5rem;

    animation: glowing-shadow11 4s infinite, button-glitch 4s infinite;
}


.BFRActivateButton:hover {

    background-color: rgb(41, 112, 0);

    color: white;

    border-top: 0.125rem solid rgb(18, 48, 0);    
    border-right: 0.125rem solid rgb(18, 48, 0);      
    border-left: 0.375rem solid rgb(18, 48, 0);    
    border-bottom: 0.375rem solid rgb(18, 48, 0);   

    animation: glowing-shadow12 4s infinite, button-glitch 4s infinite;;
}



.BFRDoneButton {

    font-size: 1.875rem;
    padding: 0.625rem;

    background-color: rgb(109, 210, 253);

    border-top: 0.125rem solid rgb(0, 94, 134);    
    border-right: 0.125rem solid rgb(0, 94, 134);   
    border-left: 0.375rem solid rgb(0, 94, 134);   
    border-bottom: 0.375rem solid rgb(0, 94, 134);  

    animation: glowing-shadow8 4s infinite, button-glitch 4s infinite;
}


.BFRDoneButton:hover {

    color: white;

    background-color: rgb(0, 105, 150);

    border-top: 0.125rem solid rgb(0, 52, 75);      
    border-right: 0.125rem solid rgb(0, 52, 75);    
    border-left: 0.375rem solid rgb(0, 52, 75);     
    border-bottom: 0.375rem solid rgb(0, 52, 75);   

    animation: glowing-shadow4 4s infinite, button-glitch 4s infinite;

}

