.RPSgameBoard {

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  width: 37.5rem;      
  padding: 3.125rem;                    
  gap: 3.125rem;  
  margin-top: 6.25rem;            

  border-radius: 1.5625rem;      

  background: linear-gradient(to bottom, rgb(117, 93, 255), rgb(52, 44, 117));

  border-left: 0.5625rem solid rgb(50, 39, 112);   
  border-bottom: 0.5625rem solid rgb(50, 39, 112); 
  border-top: 0.125rem solid rgb(50, 39, 112);     
  border-right: 0.125rem solid rgb(50, 39, 112);  

  box-shadow: 0 0 2.5rem 0.5rem rgb(157, 139, 255);

}


.RPSSign {
  padding: 0.625rem;                 
  border-radius: 1.5625rem;          
  background-color: rgb(190, 176, 254);
  border: 0.3125rem solid rgba(1, 255, 35, 0.586); 
  color: white;

  font-size: 1.875rem;

  animation: glowing-sign-shadows 4s infinite;
  
}


.RPSButton {
  font-size: 1.5625rem;                      

  background-color: rgb(102, 255, 237);
         
  padding: 0.8rem 1.8rem;       
  border-left: 0.375rem solid rgb(43, 117, 108);   
  border-bottom: 0.375rem solid rgb(43, 117, 108); 
  border-right: 0.125rem solid rgb(43, 117, 108);  
  border-top: 0.125rem solid rgb(43, 117, 108); 

  animation: glowing-shadow2 3s infinite, button-glitch 4s infinite;

}


.RPSButton:hover,
.RPSButton.active {

  background-color: rgb(0, 132, 142); 

  border-left: 0.375rem solid rgb(0, 71, 76);   
  border-bottom: 0.375rem solid rgb(0, 71, 76); 
  border-top: 0.125rem solid rgb(0, 71, 76); 
  border-right: 0.125rem solid rgb(0, 71, 76); 

  color: white;
    
  animation: glowing-shadow8 3s infinite, button-glitch 3s infinite;

}