.CWMSpaceOuterWindow {
    display: flex;
    flex-direction: column;

    background-color: rgba(203, 231, 255, 0.726);
    border: 0.625rem solid rgb(71, 0, 104);  

    box-shadow: 0 0 1rem 0.5rem rgb(211, 122, 255);  

    background-image: url("../../../../Images/ArcadeGameBackgroundImages/CWM.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.CWMSpaceClawRowContainer{

    display: grid;
    grid-template-columns: repeat(23, calc(100% / 23));
    grid-template-rows: repeat(8, calc(100% / 8));

    box-sizing: border-box;

}

.CWMSpaceClawRow {
    height: 2.8125rem;  
    width: 1.875rem;    
}

.CWMSpacePrizesContainer{ 
    position: relative; 
    width: 100%;
    height: 100%;
}

.CWMSpacePrizes {
    display: block;
    height: 9.655rem;   
}

.CWMSpaceoverlayPrizeWindow {
    position: absolute;
    background-color: rgba(173, 133, 255, 0.275);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}