.CWMSpaceOuterWindow {
    display: flex;
    flex-direction: column;

    background-color: rgb(203, 231, 255);
    border: 0.625rem solid rgb(71, 0, 104);   /* 10px / 16 */

    box-shadow: 0 0 1rem 0.5rem rgb(211, 122, 255);  /* already in rem, no change needed */
}


.CWMSpaceClawRowContainer{

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(23, 1fr);

}

.CWMSpaceClawRow {
    height: 2.8125rem;   /* 45px / 16 */
    width: 1.875rem;     /* 30px / 16 */
}


.CWMSpacePrizes {
    height: 6.875rem;    /* 110px / 16 */
    background-color: rgb(203, 231, 255);
}
