.AchievementsOuterContainer {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3rem;
    padding: 5rem;       

}

.AchievementsInnerContainer {

    display: flex;
    flex-direction: row;
    overflow-y: auto;
    flex-wrap: wrap;

    height: 65vh;   
    gap: 5rem;
    padding: 5rem;
    font-size: 0.75rem;

    color: white;

}

.AchievementsWindow {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20rem;
    gap: 2rem;   

}


.AchievementsBadge {

    height: 10rem;
    animation: pulse-glow 2s infinite alternate;
    
}


.AchievementsButton{

    background-color: rgb(255, 110, 238);
    font-size: 1.5rem;         
    padding: 0.625rem;        
    border-left: 0.375rem solid rgb(87, 0, 99);
    border-bottom: 0.375rem solid rgb(87, 0, 99);
    border-right: 0.125rem solid rgb(87, 0, 99);
    border-top: 0.125rem solid rgb(87, 0, 99);

    animation: glowing-shadow3 4s infinite, button-glitch 4s infinite;

}

.AchievementsButton:hover{

    background-color: rgb(118, 0, 154);
    color: white; 

    border-left: 0.375rem solid rgb(47, 0, 61);
    border-bottom: 0.375rem solid rgb(47, 0, 61);
    border-right: 0.125rem solid rgb(47, 0, 61);
    border-top: 0.125rem solid rgb(47, 0, 61);

    animation: glowing-shadow7 4s infinite, button-glitch 4s infinite;

}
