.RPSFloatingReferencesContainer {

    display: flex;
    flex-direction: column;
    position: absolute;

    width: 100vw;
    height: 100vh;
    align-items: center;
    z-index: 2;

    background-color: rgba(0, 47, 255, 0.5);
    
}

.RPSFloatingReferencesFlag {

    margin-top: 80px;
    display:flex;
    flex-direction: column;
    background-color: rgb(239, 106, 251);
    padding: 80px;
    border-radius: 20px;
    gap: 50px;
    border-bottom: 9px solid black;
    border-left: 9px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

    box-shadow: 0 0 80px rgb(255, 107, 253);
    max-height: 650px;

}

.RPSReferenceSign{

    align-self: center;
    color: white;

    background-color: rgb(252, 162, 246);
    background-color: rgb(255, 155, 248);
    border: 5px solid rgba(122, 253, 151, 0.635);
    border-radius: 25px;
    padding: 10px;
    font-size: 30px;

    animation: glowing-sign-shadows 4s infinite;

}

.RPSReferenceSignGlitch{

    animation: sign-glitch 4s infinite;

}

.RPSReferences{

    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 23px;
    max-width: 600px;
    max-height: 500px;
    overflow-y: auto;

}



