.RPSFloatingReferencesContainer {

  display: flex;
  flex-direction: column;
  position: absolute;

  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  z-index: 2;

  background-color: rgba(0, 47, 255, 0.5);
  
}

.RPSFloatingReferencesFlag {
  margin-top: 5rem;               /* 80px */
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 106, 251);
  padding: 5rem;                  /* 80px */
  border-radius: 1.25rem;         /* 20px */
  gap: 3.125rem;                  /* 50px */
  border-bottom: 0.5625rem solid rgb(103, 43, 108); /* 9px */
  border-left: 0.5625rem solid rgb(103, 43, 108);   /* 9px */
  border-top: 0.125rem solid rgb(103, 43, 108);     /* 2px */
  border-right: 0.125rem solid rgb(103, 43, 108);   /* 2px */

  box-shadow: 0 0 5rem rgb(255, 107, 253); /* 80px */
  max-height: 40.625rem;           /* 650px */
  
}

.RPSReferences {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;           /* 15px */
  font-size: 1.5625rem;     /* 25px */
  max-width: 37.5rem;       /* 600px */
  max-height: 31.25rem;     /* 500px */
  overflow-y: auto;

  font-weight: bold;
}



