.RPSreadMoveReferencesButton {

    font-size: 25px;
    background-color: rgb(255, 104, 240);
    padding: 10px;
    border-left: 5.5px solid black;
    border-bottom: 5.5px solid black;
    border-right: 2.5px solid black;
    border-top: 2.5px solid black;

    animation: glowing-shadow3 4s infinite;

}

.RPSreadMoveReferencesButton:hover {

    background-color: #4d1fd4;
    color: white;
    animation: glowing-shadow4 4s infinite;

}