.RPSgameScreenContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgb(117, 93, 255);
    width: 600px;
    overflow-y: auto;
    border-radius: 25px;
    gap: 50px;

    border-left: 9px solid black;
    border-bottom: 9px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

    box-shadow: 0 0 40px 8px rgb(157, 139, 255);
    margin-top: 100px;

}


.RPSRoundNumberSign{

    padding: 10px;
    border-radius: 25px;
    background-color: rgb(190, 176, 254);
    border: 5px solid rgba(1, 255, 35, 0.586);
    color: white;

    animation:glowing-sign-shadows 4s infinite;
    
}

.RPSRoundNumberSignGlitch{

    animation: sign-glitch 4s infinite;
    
}

.RPSdirections {

    font-size: 25px;
    color: rgb(255, 255, 255);

}

.RPStextbox {

    font-size: 20px;
    border-radius: 3px;
    padding: 5px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;

    animation: glowing-shadow2 4s infinite;

}

.RPSenterButton {

    font-size: 25px;
    padding: 10px;
    background-color: rgb(251, 80, 234);
    border-left: 5.5px solid black;
    border-bottom: 5.5px solid black;

    animation: glowing-shadow5 4s infinite;
    
}

.RPSenterButton:hover {

    background-color: rgb(118, 35, 111);
    color: white;
    
    animation: glowing-shadow3 4s infinite;

}

