.ArcadeGameScreenLayout {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
    min-height: 100vh;

}

.ArcadeGameBoard {

    background-color: rgb(204, 0, 255);
    width: 900px;
    padding: 40px;

    border-radius: 20px;
    border-left: 8px solid black;
    border-bottom: 8px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

    box-shadow: 0 0 40px 10px rgb(179, 68, 249); 

}

.ArcadeGameBoardInner{

    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 60px;
    padding: 20px;

}

.ArcadeGameContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    
}

.ArcadeGame {

    display: flex;
    flex-direction: column;
    height: 250px;
    width: 180px;
    background-color: rgb(180, 246, 249);
    align-items: center;
    padding: 20px;
    gap: 20px;

    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 15px;

    box-shadow:  0 0 20px 6px rgb(0, 204, 255);
    
}

.gameButton{

    font-size: 20px;
    padding: 10px;
    background-color: aqua;

    border-left: 5px solid black;
    border-bottom: 5px solid black;

    animation: glowing-shadow1 4s infinite;

}


.gameButton.active{

    background-color: blue;
    color: white;
    animation: glowing-shadow4 4s infinite;

}

.buttonContainer{

    display: flex;
    flex-direction: row;
    gap: 50px;

}

.pointsSign{

    font-size: 35px;
    border-radius: 30px;
    padding: 10px;
    color: white;
    background-color: rgb(243, 154, 255);
    border: 5px solid rgba(0, 253, 46, 0.521);

    animation: glowing-sign-shadows 4s infinite;

}

.pointsSignGlitch{

    animation: sign-glitch 3s infinite;

}

.windowGlitch{

    animation: button-glitch 3.5s infinite;

}

