.ArcadeGameBoard {
  background-color: rgb(187, 0, 255);
  width: 60rem;               /* 900px */
  padding: 3rem;               /* 40px */

  border-radius: 1.25rem;        /* 20px */
  border-left: 0.5rem solid rgb(94, 0, 128);     /* 8px */
  border-bottom: 0.5rem solid rgb(94, 0, 128);   /* 8px */
  border-top: 0.125rem solid rgb(94, 0, 128);    /* 2px */
  border-right: 0.125rem solid rgb(94, 0, 128);  /* 2px */

  box-shadow: 0 0 1rem 0.5rem rgb(179, 68, 249); /* 40px 10px */
}

.ArcadeGameBoardInner {
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 3.75rem;       /* 60px */
  padding: 1.25rem;   /* 20px */
}

.ArcadeGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;  /* 20px */
}

.ArcadeGame {
  display: flex;
  flex-direction: column;
  height: 18rem;              /* 250px */
  width: 12rem;                /* 180px */
  background-color: rgb(179, 227, 255);
  align-items: center;
  padding: 1.5rem;               /* 20px */
  gap: 1.25rem;                   /* 20px */

  font-size: 1.125rem;
  font-weight: bold;

  border-left: 0.3125rem solid rgb(68, 93, 95);   /* 5px */
  border-bottom: 0.3125rem solid rgb(68, 93, 95); /* 5px */
  border-top: 0.125rem solid rgb(68, 93, 95);     /* 2px */
  border-right: 0.125rem solid rgb(68, 93, 95);   /* 2px */
  border-radius: 0.9375rem;             /* 15px */

  box-shadow: 0 0 1rem 0.5rem rgb(150, 234, 255); /* 20px 6px */
}


.gameButton {
  font-size: 1.25rem;               /* 20px */
  padding: 0.625rem;                /* 10px */
  background-color: aqua;

  border-left: 0.3125rem solid rgb(0, 108, 108);   /* 5px */
  border-bottom: 0.3125rem solid rgb(0, 108, 108); /* 5px */
  border-right: 0.125rem solid rgb(0, 108, 108); /* 5px */
  border-top: 0.125rem solid rgb(0, 108, 108); /* 5px */

  animation: glowing-shadow1 4s infinite;
}


.gameButton.active{

  background-color: blue;

  border-left: 0.3125rem solid rgb(0, 0, 116);   /* 5px */
  border-bottom: 0.3125rem solid rgb(0, 0, 116); /* 5px */
  border-right: 0.125rem solid rgb(0, 0, 116);  /* 5px */
  border-top: 0.125rem solid rgb(0, 0, 116);  /* 5px */

  color: white;
  animation: glowing-shadow4 4s infinite;

}


.pointsSign {
  font-size: 2.1875rem;               /* 35px */
  border-radius: 1.875rem;            /* 30px */
  padding: 0.625rem;                  /* 10px */
  color: white;
  background-color: rgb(243, 154, 255);
  border: 0.3125rem solid rgba(0, 253, 46, 0.521);  /* 5px */

  animation: glowing-sign-shadows 4s infinite;
}


.pointsSignGlitch{

  animation: sign-glitch 3s infinite;

}

.windowGlitch{

  animation: button-glitch 3.5s infinite;

}


.ArcadeGameImage {
  max-height: 6.875rem;
  border: 0.25rem solid rgb(55, 0, 255);
}
