.pointsClaimedButton {

  background-color: rgb(0, 154, 136);
  font-size: 2rem;    
  padding: 0.8rem 1.8rem;      
  border-left: 0.375rem solid rgb(13, 56, 51);  
  border-bottom: 0.375rem solid rgb(13, 56, 51);
  border-right: 0.125rem solid rgb(13, 56, 51); 
  border-top: 0.125rem solid rgb(13, 56, 51);

}