.TTTchart_container {

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);   
    
    animation: glowing-shadow2 4s infinite;
}


.TTTchart_button {

    height: 8rem; 
    width: 8rem;  

    background-color: rgb(204, 252, 255);
    border: 0.125rem solid rgb(2, 0, 138); 

    box-shadow: 
        0 0 0.125rem 0.125rem rgb(150, 255, 250),
        0 0 0.25rem 0.25rem rgb(0, 242, 255),
        0 0 0.375rem 0.375rem rgb(0, 200, 255);

    animation: none;
}



.TTTchart_button:hover {
    background-color: rgb(0, 204, 255);

    box-shadow: 
        0 0 0.125rem 0.125rem rgb(150, 255, 250),
        0 0 0.25rem 0.25rem rgb(0, 242, 255),
        0 0 0.375rem 0.375rem rgb(0, 200, 255);

    animation: none;
}


.TTTchart_selected_computer {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 8rem; 
    width: 8rem;  

    font-size: 6rem;
    background-color: rgb(255, 0, 255);
    border: 0.125rem solid rgb(89, 1, 89);

    box-shadow:
        0 0 0.125rem 0.125rem rgb(240, 32, 255),
        0 0 0.25rem 0.25rem rgb(209, 42, 255),
        0 0 0.375rem 0.375rem rgb(33, 155, 255);
}


.TTTchart_selected_user {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 8rem; 
    width: 8rem;  

    font-size: 6rem; 

    background-color: rgb(13, 0, 255);
    border: 0.125rem solid rgb(5, 0, 105); 

    box-shadow: 
        0 0 0.125rem 0.125rem rgb(0, 42, 255),
        0 0 0.25rem 0.25rem rgb(0, 140, 255),
        0 0 0.375rem 0.375rem rgb(0, 191, 255);
}
