.ORBGameBoardScreen {

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr); 

    background: radial-gradient(
        circle,
        rgb(225, 255, 107) 0%,
        rgb(101, 255, 216) 20%,
        rgb(83, 103, 255) 80%
    );

    border: 0.35rem solid rgb(19, 0, 125);

    box-shadow: 0 0 2rem 0.5rem rgb(108, 255, 218); 

    gap: 0.5rem; 

    box-sizing: border-box;
    
}


.ORBGameBoardEmptySpace {
    height: 1.5625rem; 
    width: 1.5625rem; 

}


.ORBGameBoardCircle {
    height: 1.5625rem; 
    width: 1.5625rem;  

    background-color: rgb(71, 71, 0);
}


.ORBGameBoardWinningCircle {
    height: 1.5625rem; 
    width: 1.5625rem;  

    background-color: rgb(0, 255, 42);
    box-shadow: 0 0 0.5rem 0.25rem rgb(96, 255, 157); 
}


.ORBGameBoardCurrentSlot {
    height: 1.5625rem; 
    width: 1.5625rem;   

    background-color: rgb(246, 255, 0);

    box-shadow: 0 0 0.5rem 0.25rem rgb(200, 255, 0); 
}





