.CWMGameSelectionBoard{

    background-color: rgb(67, 18, 151);
    width: 55rem;               /* 900px */
    padding: 1.5rem;               /* 40px */

    border-radius: 1.25rem;        /* 20px */
    border-left: 0.5rem solid rgb(29, 8, 66);    /* 8px */
    border-bottom: 0.5rem solid rgb(29, 8, 66);     /* 8px */
    border-top: 0.125rem solid rgb(29, 8, 66);     /* 2px */
    border-right: 0.125rem solid rgb(29, 8, 66);    /* 2px */

    box-shadow: 0 0 1rem 0.5rem rgb(145, 43, 255); /* 40px 10px */

}

.CWMGameSelectionBoardInner{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.75rem;       /* 60px */
    padding: 1rem;   /* 20px */

}

.CWMMachineOptionContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;  /* 20px */

}

.CWMMachine{

    display: flex;
    flex-direction: column;
    height: 17rem;              /* 250px */
    width: 12rem;                /* 180px */
    background-color: rgb(215, 174, 254);
    align-items: center;
    padding: 1.5rem;               /* 20px */
    gap: 1.25rem;                   /* 20px */

    font-size: 1.125rem;
    font-weight: bold;

    border-left: 0.3125rem solid rgb(87, 0, 169);   /* 5px */
    border-bottom: 0.3125rem solid rgb(87, 0, 169); /* 5px */
    border-top: 0.125rem solid rgb(87, 0, 169);     /* 2px */
    border-right: 0.125rem solid rgb(87, 0, 169);   /* 2px */
    border-radius: 0.9375rem;             /* 15px */

    box-shadow: 0 0 1rem 0.5rem rgb(195, 126, 255); /* 20px 6px */

}

.CWMMachineButton{

    font-size: 1.25rem;               /* 20px */
    padding: 0.625rem;                /* 10px */
    background-color: rgb(242, 169, 255);

    border-left: 0.3125rem solid rgb(105, 16, 120);   /* 5px */
    border-bottom: 0.3125rem solid rgb(105, 16, 120); /* 5px */
    border-right: 0.125rem solid rgb(105, 16, 120);/* 5px */
    border-top: 0.125rem solid rgb(105, 16, 120); /* 5px */

    animation: glowing-shadow3 4s infinite;

}


.CWMMachineButton.active{

    background-color: rgb(140, 0, 175);

    border-left: 0.3125rem solid rgb(60, 0, 75);   /* 5px */
    border-bottom: 0.3125rem solid rgb(60, 0, 75); /* 5px */
    border-right: 0.125rem solid rgb(60, 0, 75);  /* 5px */
    border-top: 0.125rem solid rgb(60, 0, 75);  /* 5px */

    color: white;
    animation: glowing-shadow7 4s infinite;
    
}