.CWMGameSelectionBoard{

    background-color: rgb(67, 18, 151);
    text-align: center;       
    width: 44.9vw;     
    padding: 2rem;       

    border-radius: 1.25rem;    
    border-left: 0.5rem solid rgb(29, 8, 66);   
    border-bottom: 0.5rem solid rgb(29, 8, 66);    
    border-top: 0.125rem solid rgb(29, 8, 66);  
    border-right: 0.125rem solid rgb(29, 8, 66);   

    box-shadow: 0 0 1rem 0.5rem rgb(157, 66, 255); 

}

.CWMGameSelectionBoardInner{

    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 3.75rem;     
    padding: 2rem;  

}

.CWMMachineOptionContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 

}

.CWMMachine{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 20rem;           
    width: 15rem;             
    background-color: rgb(241, 174, 254);
    align-items: center;
    padding: 1.5rem 1.25rem;          
    gap: 1.25rem;             

    font-size: 1.125rem;
    font-weight: bold;

    border-left: 0.3125rem solid rgb(152, 0, 182); 
    border-bottom: 0.3125rem solid rgb(152, 0, 182); 
    border-top: 0.125rem solid rgb(152, 0, 182);   
    border-right: 0.125rem solid rgb(152, 0, 182);  
    border-radius: 0.9375rem;       

    box-shadow: 0 0 1rem 0.5rem rgb(228, 92, 255); 

}

.CWMMachineButton{

    font-size: 1.25rem;             
    padding: 0.625rem;           
    background-color: rgb(246, 143, 255);

    border-left: 0.3125rem solid rgb(105, 16, 120);  
    border-bottom: 0.3125rem solid rgb(105, 16, 120); 
    border-right: 0.125rem solid rgb(105, 16, 120);
    border-top: 0.125rem solid rgb(105, 16, 120); 

    animation: glowing-shadow3 4s infinite;

}


.CWMMachineButton.active{

    background-color: rgb(140, 0, 175);

    border-left: 0.3125rem solid rgb(60, 0, 75);   
    border-bottom: 0.3125rem solid rgb(60, 0, 75); 
    border-right: 0.125rem solid rgb(60, 0, 75); 
    border-top: 0.125rem solid rgb(60, 0, 75); 

    color: white;
    animation: glowing-shadow7 4s infinite;
    
}

.CWMMachineImages{

    width: 85%;

    border-left: 0.3vh solid rgb(110, 0, 200); 
    border-bottom: 0.3vh solid rgb(200, 0, 187);  
    border-right: 0.3vh solid rgb(200, 0, 187);  
    border-top: 0.3vh solid rgb(110, 0, 200);   

    animation: pulse-glow 3s infinite alternate;

}