.CWMSportsOuterWindow {
    display: flex;
    flex-direction: column;

    background-color: rgb(203, 231, 255);
    border: 0.625rem solid rgb(0, 123, 255);  
    border: 0.625rem solid rgb(9, 0, 139);  

    box-shadow: 0 0 1rem 0.5rem rgb(102, 191, 255);  
}


.CWMSportsClawRowContainer{

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(23, 1fr);

}

.CWMSportsClawRow {
    height: 2.8125rem;   
    width: 1.875rem;    
}


.CWMSportsPrizes {
    height: 9.4rem;   
    background-color: rgb(203, 231, 255);
}
