.CBLOuterGameContainer {
    background-color: rgb(158, 47, 255);
    padding: 4rem;

    border-top: 0.125rem solid rgb(75, 22, 121);       
    border-left: 0.5rem solid rgb(75, 22, 121);     
    border-right: 0.125rem solid rgb(75, 22, 121);      
    border-bottom: 0.5rem solid rgb(75, 22, 121);       

    border-radius: 1.875rem; 

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.875rem; 

    box-shadow: 0 0 1.25rem 0.5rem rgb(157, 60, 241); 
}


.CBLGameBoardEndingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 25rem;
    width: 40rem;

    font-size: 1.8rem;
    font-weight: bold;

    background-color: rgb(126, 195, 255);
    box-shadow: 0 0 1rem 0.5rem rgb(126, 195, 255); 

    border: 0.3rem solid rgb(0, 107, 200);         
    border-left: 0.3rem solid rgb(0, 107, 200);      
    border-right: 0.3rem solid rgb(0, 107, 200);     
    border-bottom: 0.3rem solid rgb(0, 107, 200);    
}


.CBLsign {
    font-size: 2rem;                        
    border-radius: 1.875rem;               
    padding: 0.625rem;                     
    color: white;
    background-color: rgb(209, 129, 255);
    border: 0.3125rem solid rgba(0, 253, 46, 0.521); 

    animation: glowing-sign-shadows 4s infinite;
}

.CBLbutton {
    font-size: 1.875rem; 
    background-color: rgb(44, 255, 199);
    padding: 0.9375rem; 

    border-top: 0.125rem solid rgb(17, 95, 74);      
    border-left: 0.4rem solid rgb(17, 95, 74);       
    border-right: 0.125rem solid rgb(17, 95, 74);    
    border-bottom: 0.4rem solid rgb(17, 95, 74);      

    animation: glowing-shadow2 4s infinite, button-glitch 4s infinite;
}


.CBLbutton:hover{

    color: white;

    background-color: rgb(21, 122, 95);

    border-top: 0.125rem solid rgb(11, 65, 50);  
    border-left: 0.4rem solid rgb(11, 65, 50);        
    border-right: 0.125rem solid rgb(11, 65, 50);   
    border-bottom: 0.4rem solid rgb(11, 65, 50);

    animation: glowing-shadow8 4s infinite, button-glitch 4s infinite;

}