.CBLResultsBoard {
    background-color: rgb(145, 200, 255);
    padding: 3.5rem; /* 50px */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    border-left: 0.5rem solid rgb(75, 105, 135);    /* 8px */
    border-bottom: 0.5rem solid rgb(75, 105, 135);  /* 8px */
    border-top: 0.25rem solid rgb(75, 105, 135);   /* 4px */
    border-right: 0.25rem solid rgb(75, 105, 135);  /* 4px */

    border-radius: 1.25rem; /* 20px */

    animation: glowing-shadow4 4s infinite;
}

.CBLResultsWords {
    
    color: rgb(12, 0, 77);
    font-size: 2.5rem; /* 40px */

}


.CBLResultsWordsGlitch {

    color: rgb(12, 0, 77);
    font-size: 2.5rem; /* 40px */

    animation: sign-glitch 4s infinite;
}
