@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* These CSS components are (or can be) used across multiple different screens and games*/

/*Universal things */

html {
  font-size: 16px;
}

body {

  min-height: 100vh;

  background-image: 
    url("./Images/ArcadeStartingScreen.svg"),
    linear-gradient(rgb(14, 3, 25) 15%, rgb(110, 11, 119) 65%, rgb(28, 0, 89));
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center, center;
  background-attachment: fixed, scroll;

  user-select: none;
    
}


*{

  font-family: monospace;
  text-shadow: 0.0625rem 0.0625rem 0.25rem #ff69ebba,
    -0.0625rem -0.0625rem 0.25rem #00ffffd5;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  white-space: normal;

}


a:link,
a:visited,
a:hover,
a:active {
  
  display: inline-block;
  text-decoration: none;
  color: inherit;
    
}


/*Screen layouts*/

.StartingScreenLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35vh;
  gap: 10vh;

}

.screenLayout {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;   
  padding-left: 6vh; 
  padding-right: 6vh;  
  padding-top: 20vh;

}

.gameScreenLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8vh;  
  padding-top: 10vh;

}


/*Specifically for entering rooms*/

.EnterTitleGlow {
  padding: 1.875rem;
  animation: glowing-shadow3 3s infinite;
}


/*Specifically for headers in starting screens*/

.headerwords {
  font-family: 'Orbitron', sans-serif;
  color: rgb(68, 0, 255);
  font-size: 3.5rem; 
  text-shadow: 
    0.1875rem -0.125rem 0rem rgb(0, 179, 255),  
    0.1875rem 0.125rem 0rem rgb(234, 0, 255), 
    -0.25rem -0.25rem 0.625rem rgba(0, 255, 242, 0.422), 
    0.25rem 0.25rem 0.625rem rgba(0, 255, 242, 0.422); 
}

.headerwordsGlitch{
  
  font-family: 'Orbitron', sans-serif;
  animation: header-glitch 3s infinite;

}


.header-glow-box {
  position: relative;
  display: inline-block;
  padding: 2rem 2rem;
  overflow: hidden;

}


.header-border {
  position: absolute;
  background: linear-gradient(to right, transparent, #4c00ff, transparent);

}

.header-border.top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.35rem;
  animation: top-move 4s linear infinite;
}


.header-border.right {
  top: -100%;
  right: 0;
  width: 0.35rem;
  height: 100%;
  animation: right-move 4s linear infinite;
  animation-delay: 1s;
}


.header-border.bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 0.35rem;
  animation: bottom-move 4s linear infinite;
  animation-delay: 2s;
}


.header-border.left {
  bottom: -100%;
  left: 0;
  width: 0.35rem;
  height: 100%;
  animation: left-move 4s linear infinite;
  animation-delay: 3s;
}


@keyframes top-move {
  0% { left: -100%; }
  50% { left: 100%; }
  100% { left: 100%; }
}

@keyframes right-move {
  0% { top: -100%; }
  50% { top: 100%; }
  100% { top: 100%; }
}

@keyframes bottom-move {
  0% { right: -100%; }
  50% { right: 100%; }
  100% { right: 100%; }
}

@keyframes left-move {
  0% { bottom: -100%; }
  50% { bottom: 100%; }
  100% { bottom: 100%; }
}




/*Font styles*/

.largefont {
  font-size: 1.875rem; 
  color: rgb(255, 255, 255);
  text-shadow: 
    0.03rem 0.03rem 0.25rem #f700ff,
    -0.03rem -0.03rem 0.25rem #2bff00,
    0.03rem -0.03rem 0.25rem #f700ff,
    -0.03rem 0.03rem 0.25rem #2bff00;
}


/*Button styles*/

.generalbuttonContainer {
  display: flex;
  flex-direction: row;
  gap: 5rem; 
}

.generalbutton {

  background-color: rgb(102, 255, 237);
  font-size: 2rem;           
  padding: 0.8rem 1.8rem;          
  border-left: 0.375rem solid rgb(43, 117, 108);  
  border-bottom: 0.375rem solid rgb(43, 117, 108); 
  border-right: 0.125rem solid rgb(43, 117, 108);  
  border-top: 0.125rem solid rgb(43, 117, 108);

  animation: glowing-shadow1 4s infinite;

}

.generalbutton:hover,
.generalbutton.active{

  background-color: rgb(58, 13, 173);
  color: white;

  border-left: 0.375rem solid rgb(23, 4, 71);  
  border-bottom: 0.375rem solid rgb(23, 4, 71);
  border-top: 0.125rem solid rgb(23, 4, 71);  
  border-right: 0.125rem solid rgb(23, 4, 71); 

  animation: glowing-shadow4 4s infinite;

}

.generalbuttonGlitch {

  background-color: rgb(102, 255, 237);

  font-size: 2rem;           
  padding: 0.8rem 1.8rem;       
  border-left: 0.375rem solid rgb(43, 117, 108);   
  border-bottom: 0.375rem solid rgb(43, 117, 108); 
  border-right: 0.125rem solid rgb(43, 117, 108);  
  border-top: 0.125rem solid rgb(43, 117, 108); 

  animation: button-glitch 4s infinite, glowing-shadow1 4s infinite;

}

.generalbuttonGlitch:hover,
.generalbuttonGlitch.active{

  background-color: rgb(58, 13, 173);
  color: white;

  border-left: 0.375rem solid rgb(23, 4, 71);  
  border-bottom: 0.375rem solid rgb(23, 4, 71); 
  border-top: 0.125rem solid rgb(23, 4, 71); 
  border-right: 0.125rem solid rgb(23, 4, 71); 

  animation: button-glitch 4s infinite, glowing-shadow4 4s infinite;

}


.buttonNameContainer{

  text-align: center;

}

.buttonKeyDescription{

  font-size: 1rem;

}


/*Sign styles*/

.instructionsSign {

  font-size: 2.1875rem;        
  border-radius: 1.875rem;      
  padding: 0.625rem;      
  color: white;
  background-color: rgb(243, 154, 255);
  border: 0.3125rem solid rgba(0, 253, 46, 0.521); 
  font-family: 'Orbitron', sans-serif;

  animation: glowing-sign-shadows 4s infinite;

}

.signGlitch{

  font-family: 'Orbitron', sans-serif;
  animation: sign-glitch 3s infinite;

}


/*Navbars*/

.navbarContainer {

  left: 0;
  top: 0;
  width: 100%;

  background-color: rgb(112, 207, 255);
  padding: 1rem 1.25rem;          
  border-bottom: 0.375rem solid rgb(0, 112, 167); 

  box-shadow: 0 0 2.5rem rgb(154, 186, 255); 

}

.navbarMenu {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.navBarButton {
  font-size: 1.8rem;       
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(246, 61, 252);
  padding: 0.8rem;           
  border-left: 0.34375rem solid rgb(121, 28, 125); 
  border-bottom: 0.34375rem solid rgb(121, 28, 125); 
  border-right: 0.15625rem solid rgb(121, 28, 125);
  border-top: 0.15625rem solid rgb(121, 28, 125);  

  box-shadow: 
    0 0 0.625rem 0.125rem rgb(187, 0, 255),  
    0 0 0.625rem 0.25rem rgb(106, 0, 255),   
    0 0 0.625rem 0.375rem rgb(0, 242, 255); 
}

.navBarButton:hover,
.navBarButton.active {
    
  background-color: #4d1fd4;

  border-left: 0.34375rem solid #291072; 
  border-bottom: 0.34375rem solid #291072; 
  border-right: 0.15625rem solid #291072; 
  border-top: 0.15625rem solid #291072; 

  color: white;

  box-shadow: 
    0 0 0.625rem 0.125rem rgb(21, 0, 255),  
    0 0 0.625rem 0.25rem rgb(0, 132, 255),  
    0 0 0.625rem 0.375rem rgb(0, 242, 255);  
  
}

button.navBarButton {

  animation: button-glitch 3s infinite;

}


a.navBarButton {

  color: rgb(255, 255, 255);

}

.navBarFloatingFlag{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;
  right: 0;  
  bottom: 0; 

  background-color: rgba(0, 47, 255, 0.5);


}


/*Game windows*/

.windowGlitch{

  animation: button-glitch 3.5s infinite;

}




/*Game Summary Screen labels*/

.StatsBoard {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: rgb(145, 200, 255);
  color: rgb(12, 0, 77);
  box-shadow: 0 0 2.5rem 0.375rem rgb(109, 150, 253); 

  width: 45rem;       
  padding: 3rem;        
  gap: 3.125rem;            
  border-radius: 0.5rem;   

  border-left: 0.375rem solid rgb(0, 59, 118);   
  border-bottom: 0.375rem solid rgb(0, 59, 118); 
  border-top: 0.0625rem solid rgb(0, 59, 118);  
  border-right: 0.0625rem solid rgb(0, 59, 118); 

  font-size: 2rem;         
  font-weight: bold;

}

.StatsGlitch{

  animation: button-glitch 4s infinite;

}

.StatsImage{

  max-height: 10rem;

  filter: 
    drop-shadow(0 0 0.3125rem rgb(255, 255, 255))  
    drop-shadow(0 0 0.625rem rgb(228, 241, 255))   
    drop-shadow(0 0 1.25rem rgb(198, 217, 255));   

}


/* Scroolbars */

::-webkit-scrollbar {
  width: 0.8rem;     
}

::-webkit-scrollbar-track {
  background: #0c0042;        
}

::-webkit-scrollbar-thumb {
  background-color: rgb(196, 226, 255);
  border-radius: 10rem;
  border: 0.2rem solid #0c0042; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 204, 255); 
}




/*Animations: glitches*/

@keyframes button-glitch {

  0%, 44% {
    transform: translate(0, 0);
    text-shadow: 
      0.125rem 0.125rem 0.25rem #ff69b4, 
      -0.125rem -0.125rem 0.25rem #00ffff;
  }
  45%, 46% {
    transform: translate(-0.3125rem, -0.125rem); 
    text-shadow: 
      0.25rem -0.25rem 0.25rem #c800ff, 
      -0.25rem 0.25rem 0.25rem #007bff;
  }
  47%, 49% {
    transform: translate(0.25rem, 0.1875rem); 
    text-shadow: 
      -0.25rem 0.125rem 0.25rem #ff8400, 
      0.25rem -0.125rem 0.25rem #00ff7f;
  }
  50%, 52% {
    transform: translate(-0.1875rem, 0.3125rem); 
    text-shadow: 
      0.3125rem -0.3125rem 0.25rem #fd2828, 
      -0.3125rem 0.3125rem 0.25rem #5661fc;
  }
  52%, 55% {
    transform: translate(0.25rem, 0.1875rem);
    text-shadow: 
      0.3125rem -0.3125rem 0.25rem #ff69b4, 
      -0.3125rem 0.3125rem 0.25rem #00ffff;
  }
  56%, 100% {
    transform: translate(0, 0);
    text-shadow: 
      0.125rem 0.125rem 0.25rem #ff69b4, 
      -0.125rem -0.125rem 0.25rem #00ffff;
  }
}


@keyframes sign-glitch {
  0%, 44% {
    transform: translate(0, 0);
    text-shadow: 
      0.125rem 0.125rem 0.25rem #ff69b4ba, 
      -0.125rem -0.125rem 0.25rem #00ffffc3;
  }
  45%, 46% {
    transform: translate(-0.3125rem, -0.125rem); 
    text-shadow: 
      0.25rem -0.25rem 0.25rem #c800ff, 
      -0.25rem 0.25rem 0.25rem #00ccff;
  }
  47%, 49% {
    transform: translate(0.25rem, 0.1875rem); 
    text-shadow: 
      -0.25rem 0.125rem 0.25rem #ff7bf2, 
      0.25rem -0.125rem 0.25rem #6cff71;
  }
  50%, 52% {
    transform: translate(-0.1875rem, 0.3125rem); 
    text-shadow: 
      0.3125rem -0.3125rem 0.25rem #ff00a2, 
      -0.3125rem 0.3125rem 0.25rem #57f4ff;
  }
  52%, 55% {
    transform: translate(0.25rem, 0.1875rem);
    text-shadow: 
      0.3125rem -0.3125rem 0.25rem #fc6af3, 
      -0.3125rem 0.3125rem 0.25rem #58ff6f;
  }
  56%, 100% {
    transform: translate(0, 0);
    text-shadow: 
      0.125rem 0.125rem 0.25rem #ff69b4ba, 
      -0.125rem -0.125rem 0.25rem #00ffffc3;
  }
}


@keyframes header-glitch {
  0%, 44% {
    transform: translate(0, 0);
    text-shadow: 
      0.1875rem -0.125rem 0rem rgb(0, 179, 255), 
      0.1875rem 0.125rem 0rem rgb(234, 0, 255),
      -0.25rem -0.25rem 0.625rem rgba(0, 255, 242, 0.422),
      0.25rem 0.25rem 0.625rem rgba(0, 255, 242, 0.422);
  }
  45%, 46% {
    transform: translate(-0.3125rem, -0.125rem); 
    text-shadow: 
      0.25rem -0.25rem 0.25rem #c800ff, 
      -0.25rem 0.25rem 0.25rem #00ccff;
  }
  47%, 49% {
    transform: translate(0.25rem, 0.1875rem); 
    text-shadow: 
      -0.25rem 0.125rem 0.25rem #ff7bf2, 
      0.25rem -0.125rem 0.25rem #6c6cff;
  }
  50%, 52% {
    transform: translate(-0.1875rem, 0.3125rem); 
    text-shadow: 
      0.3125rem -0.3125rem 0.25rem #ff00a2, 
      -0.3125rem 0.3125rem 0.25rem #57f4ff;
  }
  52%, 55% {
    transform: translate(0.25rem, 0.1875rem);
    text-shadow: 
      0.3125rem -0.3125rem 0.25rem #fc6af3, 
      -0.3125rem 0.3125rem 0.25rem #6e42fe;
  }
  56%, 100% {
    transform: translate(0, 0);
    text-shadow: 
      0.1875rem -0.125rem 0rem rgb(0, 179, 255), 
      0.1875rem 0.125rem 0rem rgb(234, 0, 255),
      -0.25rem -0.25rem 0.625rem rgba(0, 255, 242, 0.422),
      0.25rem 0.25rem 0.625rem rgba(0, 255, 242, 0.422);
  }
}



/*Animations: glowing border shadows*/

@keyframes glowing-shadow1 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.25rem rgb(0, 242, 255),    
      0 0 1.875rem 0.375rem rgb(247, 0, 255),     
      0 0 3.125rem 0.625rem rgb(153, 0, 255);     
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.25rem rgba(0, 242, 255, 0.365),
      0 0 1.875rem 0.375rem rgba(247, 0, 255, 0.361),
      0 0 3.125rem 0.625rem rgba(153, 0, 255, 0.392);
  }
  100% {
    box-shadow: 
      0 0 0.625rem 0.25rem rgb(0, 242, 255),
      0 0 1.875rem 0.375rem rgb(247, 0, 255),
      0 0 3.125rem 0.625rem rgb(153, 0, 255);
  }
}


@keyframes glowing-shadow2 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(150, 255, 250),  
      0 0 1.25rem 0.25rem rgb(0, 242, 255),      
      0 0 1.875rem 0.375rem rgb(0, 200, 255);   
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(150, 255, 250, 0.365),
      0 0 1.25rem 0.25rem rgba(0, 242, 255, 0.397),
      0 0 1.875rem 0.375rem rgba(0, 200, 255, 0.366);
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(150, 255, 250),
      0 0 1.25rem 0.25rem rgb(0, 242, 255),
      0 0 1.875rem 0.375rem rgb(0, 200, 255);
  }
}


@keyframes glowing-shadow3 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(240, 32, 255),  
      0 0 1.25rem 0.25rem rgb(180, 42, 255),    
      0 0 2.1875rem 0.375rem rgb(33, 37, 255);  
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(240, 32, 255, 0.393),
      0 0 1.25rem 0.25rem rgba(180, 42, 255, 0.419),
      0 0 2.1875rem 0.375rem rgba(33, 37, 255, 0.405);
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(240, 32, 255),
      0 0 1.25rem 0.25rem rgb(180, 42, 255),
      0 0 2.1875rem 0.375rem rgb(33, 37, 255);
  }
}


@keyframes glowing-shadow4 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.25rem rgb(70, 143, 253),     
      0 0 1.25rem 0.375rem rgb(117, 79, 252),     
      0 0 2.1875rem 0.5rem rgb(153, 80, 254);     
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.25rem rgba(70, 143, 253, 0.383),
      0 0 1.25rem 0.375rem rgba(116, 79, 252, 0.335),
      0 0 2.1875rem 0.5rem rgba(152, 80, 254, 0.373);
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.25rem rgb(70, 143, 253),
      0 0 1.25rem 0.375rem rgb(117, 79, 252),
      0 0 2.1875rem 0.5rem rgb(153, 80, 254);
  }
}


@keyframes glowing-shadow5 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.1875rem rgb(242, 62, 255),  
      0 0 1.25rem 0.375rem rgb(0, 251, 255);      
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.1875rem rgba(242, 62, 255, 0.47),
      0 0 1.25rem 0.375rem rgba(0, 251, 255, 0.448);
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.1875rem rgb(242, 62, 255),
      0 0 1.25rem 0.375rem rgb(0, 251, 255);
  }
}


@keyframes glowing-shadow6 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(255, 62, 62),      
      0 0 1.25rem 0.25rem rgb(196, 70, 255);          
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(255, 62, 62, 0.454),
      0 0 1.25rem 0.25rem rgba(196, 70, 255, 0.466);
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgba(255, 62, 62),
      0 0 1.25rem 0.25rem rgb(196, 70, 255);
  }
}


@keyframes glowing-shadow7 {
  0% {
    box-shadow: 
      0 0 1.25rem 0.25rem rgb(165, 22, 175),  
      0 0 1.25rem 0.25rem rgb(131, 30, 186);    
  }
  50% {
    box-shadow: 
      0 0 1.25rem 0.25rem rgba(240, 32, 255, 0.393),
      0 0 1.25rem 0.25rem rgba(180, 42, 255, 0.419);
  }
  100% {
    box-shadow:
      0 0 1.25rem 0.125rem rgb(165, 22, 175), 
      0 0 1.25rem 0.25rem rgb(131, 30, 186); 
  }
}


@keyframes glowing-shadow8 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(130, 218, 215),  
      0 0 1.25rem 0.25rem rgb(0, 190, 200);
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(150, 255, 250, 0.365),
      0 0 1.25rem 0.25rem #00f2ff65;
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(130, 218, 215),
      0 0 1.25rem 0.25rem rgb(0, 190, 200);
  }
}


@keyframes glowing-shadow9 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.25rem rgb(253, 229, 70),  
      0 0 1.25rem 0.375rem rgb(252, 191, 79),   
      0 0 2.1875rem 0.5rem rgb(254, 170, 80);    
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.25rem rgba(253, 229, 70, 0.38),     
      0 0 1.25rem 0.375rem rgba(252, 191, 79, 0.417),     
      0 0 2.1875rem 0.5rem rgba(254, 170, 80, 0.334);     
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.25rem rgb(253, 229, 70),     
      0 0 1.25rem 0.375rem rgb(252, 191, 79),    
      0 0 2.1875rem 0.5rem rgb(254, 170, 80);    
  }
}


@keyframes glowing-shadow10 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.375rem rgb(255, 168, 29),     
      0 0 1.25rem 0.5rem rgb(255, 152, 42);     
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.375rem rgba(255, 168, 29, 0.425),     
      0 0 1.25rem 0.5rem rgba(255, 152, 42, 0.407);
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.375rem rgb(255, 168, 29),     
      0 0 1.25rem 0.5rem rgb(255, 152, 42);    
  }
}

@keyframes glowing-shadow11 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.375rem rgb(9, 255, 0),     
      0 0 1.25rem 0.5rem rgb(5, 151, 0);     
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.375rem rgba(9, 255, 0, 0.476),    
      0 0 1.25rem 0.5rem rgba(5, 151, 0, 0.462);     
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.375rem rgb(9, 255, 0),     
      0 0 1.25rem 0.5rem rgb(5, 151, 0);      
  }
}

@keyframes glowing-shadow12 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.375rem rgb(5, 146, 0),     
      0 0 1.25rem 0.5rem rgb(0, 50, 186);    
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.375rem rgba(5, 146, 0, 0.416),     
      0 0 1.25rem 0.5rem rgba(0, 50, 186, 0.457);     
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.375rem rgb(5, 146, 0),     
      0 0 1.25rem 0.5rem rgb(0, 50, 186);     
  }
}


@keyframes glowing-shadow13 {
  0% {
    box-shadow: 
      0 0 0.625rem 0.375rem rgb(0, 132, 255),     
      0 0 1.25rem 0.5rem rgb(0, 50, 186);    
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.375rem rgba(0, 132, 255, 0.489),     
      0 0 1.25rem 0.5rem rgba(0, 50, 186, 0.467);     
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.375rem rgb(0, 132, 255),     
      0 0 1.25rem 0.5rem rgb(0, 50, 186);       
  }
}



@keyframes glowing-sign-shadows {
  0% {
    box-shadow: 
      0 0 0.625rem 0.3125rem rgb(0, 255, 94),    
      0 0 1.875rem 0.4375rem rgb(0, 204, 255),  
      0 0 3.125rem 0.5625rem rgb(251, 0, 255); 
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.3125rem rgba(0, 255, 94, 0.516),
      0 0 1.875rem 0.4375rem rgba(0, 204, 255, 0.515),
      0 0 3.125rem 0.5625rem rgba(251, 1, 255, 0.526);
  }
  100% {
    box-shadow: 
      0 0 0.625rem 0.3125rem rgb(0, 255, 94),
      0 0 1.875rem 0.4375rem rgb(0, 204, 255),
      0 0 3.125rem 0.5625rem rgb(251, 0, 255);
  }
}

@keyframes pulse-glow {
  0% {
    filter: 
      drop-shadow(0 0 0.3125rem rgba(21, 0, 255, 0.8)) 
      drop-shadow(0 0 0.625rem rgba(21, 0, 255, 0.6))  
      drop-shadow(0 0 1.25rem rgba(21, 0, 255, 0.4));   
  }
  100% {
    filter: 
      drop-shadow(0 0 0.3125rem rgba(255, 0, 247, 0.8))
      drop-shadow(0 0 0.625rem rgba(255, 0, 247, 0.6))
      drop-shadow(0 0 1.25rem rgba(255, 0, 247, 0.4));
  }
}



/*Animations: glowing components*/

@keyframes green-glow {
  0%{
    box-shadow: 
      0 0 0.625rem 0.6rem rgba(0, 255, 8, 0.8),
      0 0 0.625rem 0.6rem rgba(0, 187, 255, 0.6);
  }
  50%{
    box-shadow: 
      0 0 0.625rem 0.6rem rgba(0, 255, 8, 0.301),
      0 0 0.625rem 0.6rem rgba(0, 187, 255, 0.25);
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.6rem rgba(0, 255, 8, 0.8),
      0 0 0.625rem 0.6rem rgba(0, 187, 255, 0.6);
  }
}


@keyframes red-glow {
  0%{
    box-shadow: 
      0 0 0.8rem 0.4rem rgba(255, 0, 128);
  }
  50%{
    box-shadow: 
      0 0 0.8rem 0.4rem rgba(255, 0, 128, 0.44);
  }
  100% {
    box-shadow:
      0 0 0.8rem 0.4rem rgba(255, 0, 128);
  }
}
