.CWMSportsOuterGameContainer {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5rem;
    gap: 1.875rem; 

    border-radius: 1.875rem; 

    background: linear-gradient(to bottom, rgb(57, 36, 215), rgb(13, 0, 114));
    border-top: 0.125rem solid rgb(32, 22, 107);    
    border-left: 0.5rem solid rgb(32, 22, 107);     
    border-right: 0.125rem solid rgb(32, 22, 107);      
    border-bottom: 0.5rem solid rgb(32, 22, 107);       

    box-shadow: 0 0 1.25rem 0.5rem rgb(151, 137, 255);

}


.CWMSportsButton {
    font-size: 1.5625rem;     
    padding: 1rem 2rem;      

    background-color: rgb(165, 211, 255);

    border-left: 0.35rem solid rgb(87, 113, 136);  
    border-bottom: 0.35rem solid rgb(87, 113, 136); 
    border-top: 0.125rem solid rgb(87, 113, 136);    
    border-right: 0.125rem solid rgb(87, 113, 136);  

    border-radius: 0.9375rem;

    animation: glowing-shadow8 4s infinite, button-glitch 3s infinite;
}



.CWMSportsButton:hover,
.CWMSportsButton.active {
    color: white;

    background-color: rgb(6, 89, 255);

    border-left: 0.35rem solid rgb(0, 36, 109);  
    border-bottom: 0.35rem solid rgb(0, 36, 109); 
    border-top: 0.125rem solid rgb(0, 36, 109);   
    border-right: 0.125rem solid rgb(0, 36, 109); 

    animation: glowing-shadow4 4s infinite, button-glitch 3s infinite;

}


.CWMSportsButtonGrabbed {
    font-size: 1.5625rem;     
    padding: 1rem 2rem;   
    border-radius: 0.9375rem;

    color: white;

    background-color: rgb(6, 89, 255);

    border-left: 0.35rem solid rgb(0, 36, 109);  
    border-bottom: 0.35rem solid rgb(0, 36, 109); 
    border-top: 0.125rem solid rgb(0, 36, 109);   
    border-right: 0.125rem solid rgb(0, 36, 109); 

    animation: glowing-shadow4 4s infinite, button-glitch 3s infinite;
}
